In [139]:
import pandas as pd
from functools import reduce

In [140]:
content_df = pd.read_csv('./data/Content.csv')

In [141]:
content_df.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [142]:
content_df.columns

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category', 'URL'], dtype='object')

In [143]:
content_df.drop(columns=['Unnamed: 0'], inplace=True)

In [144]:
location_df = pd.read_csv('./data/location.csv')

In [145]:
location_df.drop(columns=['Unnamed: 0'], inplace=True)

In [146]:
location_df.head()

,User ID,Address
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"6208 Wright Mountains\nBryantfurt, AR 02531"
1,95258c36-5b6b-4591-85ee-0c43f503c1d5,"534 Williams Turnpike Suite 788\nPort Julie, W..."
2,a8229d24-f219-4930-a382-24049a8f73bb,"867 Lisa Causeway Apt. 015\nWest Brentmouth, A..."
3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"5687 Wilson Harbors Suite 763\nLake Robert, FL..."
4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,Unit 2614 Box 8996\nDPO AE 23660

In [147]:
#remove the \n and replace
location_df['Address'] = location_df['Address'].str.replace('\n',' ')

In [148]:
location_df.head()

,User ID,Address
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"6208 Wright Mountains Bryantfurt, AR 02531"
1,95258c36-5b6b-4591-85ee-0c43f503c1d5,"534 Williams Turnpike Suite 788 Port Julie, WA..."
2,a8229d24-f219-4930-a382-24049a8f73bb,"867 Lisa Causeway Apt. 015 West Brentmouth, AL..."
3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"5687 Wilson Harbors Suite 763 Lake Robert, FL ..."
4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,Unit 2614 Box 8996 DPO AE 23660

In [149]:
#check for missing data
location_df.isna().sum()

User ID    0
Address    0
dtype: int64

No missing value for the location data.

In [150]:
profile_df = pd.read_csv('./data/Profile.csv')

In [151]:
profile_df.head()

,Unnamed: 0,User ID,Interests,Age
0,0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41
1,1,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23
2,2,a8229d24-f219-4930-a382-24049a8f73bb,"['fitness', 'cooking', 'animals', 'travel']",25
3,3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"['technology', 'culture', 'veganism']",2
4,4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,['education'],44

In [152]:
profile_df.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

## Cleaning Reactions Data

In [153]:
reaction_df = pd.read_csv('./data/Reactions.csv')

In [154]:
reaction_df.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [155]:
reaction_df.isna().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [156]:
#exclude missing values for userID
reaction_df = reaction_df[reaction_df['User ID'].notna()]

In [157]:
reaction_df.isna().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Datetime      0
dtype: int64

### Data quality assessment

In [158]:
reaction_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 1 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22534 non-null  int64
 1   Content ID  22534 non-null  object
 2   User ID     22534 non-null  object
 3   Type        22534 non-null  object
 4   Datetime    22534 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

In [159]:
reaction_df.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

In [160]:
reaction_df['Datetime'] = reaction_df['Datetime'].astype('datetime64[ns]')
reaction_df['Type'] = reaction_df['Type'].astype('category')

In [161]:
reaction_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   User ID     22534 non-null  object
 2   Type        22534 non-null  category
 3   Datetime    22534 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](1), object(2)
memory usage: 726.9+ KB

In [162]:
reaction_df.head()

,Content ID,User ID,Type,Datetime
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58

In [163]:
types_df = pd.read_csv('./data/ReactionTypes.csv')

In [164]:
types_df.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

In [165]:
types_df.isna().sum()

Type         0
Sentiment    0
Score        0
dtype: int64

In [166]:
types_df.shape

(16, 3)

In [167]:
types_df.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [168]:
reaction_df.head(3)

,Content ID,User ID,Type,Datetime
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58

In [169]:
reactions = reaction_df.merge(types_df, on='Type')

In [170]:
reactions.head()

,Content ID,User ID,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,13c06e7e-833d-47eb-a790-5e09ccfd8d2c,disgust,2021-04-09 02:46:20,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,8b49caad-bcc5-43de-bf40-34a66ff8805c,disgust,2021-03-28 21:15:26,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,ef147ea5-9696-44d5-b6c2-a43f62fd8ce2,disgust,2020-08-04 05:40:33,negative,0

In [171]:
reactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 0 to 22533
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   User ID     22534 non-null  object
 2   Type        22534 non-null  object
 3   Datetime    22534 non-null  datetime64[ns]
 4   Sentiment   22534 non-null  object
 5   Score       22534 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 1.2+ MB

In [172]:
session_df = pd.read_csv('./data/Session.csv')

In [173]:
session_df.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

In [174]:
user_df = pd.read_csv('./data/User.csv')

In [175]:
user_df.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

In [176]:
user_df.head()

                                User ID             Name         Email
0  4c731e48-0377-4d7d-b4c8-b2174b774ed8        Gary Hill  GHbnuothhymw
1  95258c36-5b6b-4591-85ee-0c43f503c1d5  Michael Deering  MD@gmail.com
2  a8229d24-f219-4930-a382-24049a8f73bb     Richard Bain  RB@gmail.com
3  8f41c07f-db4f-44f3-ae81-1f99cee047eb  Kristi Mccarthy  KM@gmail.com
4  3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9      Betty Ellis  BE@gmail.com

# Merge all datasets

In [177]:
data = [user_df, profile_df, location_df, session_df, reaction_df]

In [178]:
#merge all data on User ID
data_merged = reduce(lambda left,right: pd.merge(left,right,on='User ID'), data)

In [179]:
check = content_df[content_df.isnull().any(axis=1)]

In [181]:
content_df.dropna(inplace = True)

In [184]:
content_df.shape

(801, 5)

In [187]:
data_merged.shape

(22534, 11)

In [188]:
final_data = data_merged.merge(content_df, on='User ID')

In [189]:
final_data.shape

(36080, 15)